modules = ["web", "python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[userenv]

[userenv.shared]
SECRET_KEY = "eb35d8cb22297472a7e0faf84e89c3d1f081be56813390c7a97efa9283458c87"
MAIL_USERNAME = "l72727663@gmail.com"
MAIL_PASSWORD = "xzgn drfc dgri rldo"
ADMIN_EMAIL = "l72727663@gmail.com"
ADMIN_PASSWORD = "@lakshmi143"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn app:app --bind 0.0.0.0:5000 --timeout 120 --workers 2"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "gunicorn --bind=0.0.0.0:5000 --reuse-port --timeout=120 --workers=2 app:app"]
